@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Sans';
    src: url(/fonts/sans.ttf);
  }
}

:root,
html,
body {
  direction: rtl;
  font-family: Sans;
}

.login-body {
  background: url(/images/login_light_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}