@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Sans';
    src: url(/fonts/sans.ttf);
  }
}

:root,
html,
body {
  direction: rtl;
  font-family: Sans;
}

.login-body {
  background: url(/images/login_light_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* برای کروم، سافاری و اج */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* رنگ پس‌زمینه */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #3b82f6; /* رنگ اسکرول */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2563eb; /* رنگ اسکرول هنگام هاور */
}

/* برای فایرفاکس */
* {
  scrollbar-width: thin; /* اندازه‌ی باریک اسکرول */
  scrollbar-color: #3b82f6 #f1f1f1; /* رنگ اسکرول و پس‌زمینه */
}